ClientApp/Connected Services/ServiceHotel/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="rechercherChambre">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ville" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="checkIn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="checkout" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="prixmin" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="prixmax" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nbrLits" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="rechercherChambreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rechercherChambreResult" type="tns:ArrayOfHotel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfHotel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Hotel" nillable="true" type="tns:Hotel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Hotel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Chambres" type="tns:ArrayOfChambre" />
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Compteur" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Nbr_étoiles" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="État" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Nom" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Adresse" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Pays" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ville" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Num_tel" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfChambre">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Chambre" nillable="true" type="tns:Chambre" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Chambre">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Numero" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Etage" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Nbr_lits" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Prix" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Reservations" type="tns:ArrayOfReservation" />
          <s:element minOccurs="0" maxOccurs="1" name="Image" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfReservation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Reservation" nillable="true" type="tns:Reservation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Reservation">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Compteur" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CheckIn" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CheckOut" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Prix_res" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Client" type="tns:Client" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Client">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mdp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nom" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Prenom" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumPasseport" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Num_tel" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Date_naissance" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Carte" type="tns:CarteCredit" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CarteCredit">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Num_carte" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cvv" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Date_expiration" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="reserverChambres">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_hotel" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="numero_chambres" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="checkin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="checkout" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nom_client" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="prenom_client" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="num_passeport" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="num_tel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="date_naissance" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="num_carte" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cvv" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="date_expiration" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="reserverChambresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="reserverChambresResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="authentification">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="identifiant" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mot_de_passe" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="authentificationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="authentificationResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArrayOfHotel" nillable="true" type="tns:ArrayOfHotel" />
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="int" type="s:int" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="rechercherChambreSoapIn">
    <wsdl:part name="parameters" element="tns:rechercherChambre" />
  </wsdl:message>
  <wsdl:message name="rechercherChambreSoapOut">
    <wsdl:part name="parameters" element="tns:rechercherChambreResponse" />
  </wsdl:message>
  <wsdl:message name="reserverChambresSoapIn">
    <wsdl:part name="parameters" element="tns:reserverChambres" />
  </wsdl:message>
  <wsdl:message name="reserverChambresSoapOut">
    <wsdl:part name="parameters" element="tns:reserverChambresResponse" />
  </wsdl:message>
  <wsdl:message name="authentificationSoapIn">
    <wsdl:part name="parameters" element="tns:authentification" />
  </wsdl:message>
  <wsdl:message name="authentificationSoapOut">
    <wsdl:part name="parameters" element="tns:authentificationResponse" />
  </wsdl:message>
  <wsdl:message name="rechercherChambreHttpGetIn">
    <wsdl:part name="ville" type="s:string" />
    <wsdl:part name="checkIn" type="s:string" />
    <wsdl:part name="checkout" type="s:string" />
    <wsdl:part name="prixmin" type="s:string" />
    <wsdl:part name="prixmax" type="s:string" />
    <wsdl:part name="nbrLits" type="s:string" />
  </wsdl:message>
  <wsdl:message name="rechercherChambreHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfHotel" />
  </wsdl:message>
  <wsdl:message name="reserverChambresHttpGetIn">
    <wsdl:part name="id_hotel" type="s:string" />
    <wsdl:part name="numero_chambres" type="s:string" />
    <wsdl:part name="checkin" type="s:string" />
    <wsdl:part name="checkout" type="s:string" />
    <wsdl:part name="nom_client" type="s:string" />
    <wsdl:part name="prenom_client" type="s:string" />
    <wsdl:part name="num_passeport" type="s:string" />
    <wsdl:part name="num_tel" type="s:string" />
    <wsdl:part name="date_naissance" type="s:string" />
    <wsdl:part name="num_carte" type="s:string" />
    <wsdl:part name="cvv" type="s:string" />
    <wsdl:part name="type" type="s:string" />
    <wsdl:part name="date_expiration" type="s:string" />
  </wsdl:message>
  <wsdl:message name="reserverChambresHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="authentificationHttpGetIn">
    <wsdl:part name="identifiant" type="s:string" />
    <wsdl:part name="mot_de_passe" type="s:string" />
  </wsdl:message>
  <wsdl:message name="authentificationHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="rechercherChambre">
      <wsdl:input message="tns:rechercherChambreSoapIn" />
      <wsdl:output message="tns:rechercherChambreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="reserverChambres">
      <wsdl:input message="tns:reserverChambresSoapIn" />
      <wsdl:output message="tns:reserverChambresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="authentification">
      <wsdl:input message="tns:authentificationSoapIn" />
      <wsdl:output message="tns:authentificationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebService1HttpGet">
    <wsdl:operation name="rechercherChambre">
      <wsdl:input message="tns:rechercherChambreHttpGetIn" />
      <wsdl:output message="tns:rechercherChambreHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="reserverChambres">
      <wsdl:input message="tns:reserverChambresHttpGetIn" />
      <wsdl:output message="tns:reserverChambresHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="authentification">
      <wsdl:input message="tns:authentificationHttpGetIn" />
      <wsdl:output message="tns:authentificationHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="rechercherChambre">
      <soap:operation soapAction="http://tempuri.org/rechercherChambre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reserverChambres">
      <soap:operation soapAction="http://tempuri.org/reserverChambres" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="authentification">
      <soap:operation soapAction="http://tempuri.org/authentification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="rechercherChambre">
      <soap12:operation soapAction="http://tempuri.org/rechercherChambre" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reserverChambres">
      <soap12:operation soapAction="http://tempuri.org/reserverChambres" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="authentification">
      <soap12:operation soapAction="http://tempuri.org/authentification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1HttpGet" type="tns:WebService1HttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="rechercherChambre">
      <http:operation location="/rechercherChambre" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reserverChambres">
      <http:operation location="/reserverChambres" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="authentification">
      <http:operation location="/authentification" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:51585/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:51585/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1HttpGet" binding="tns:WebService1HttpGet">
      <http:address location="http://localhost:51585/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>